@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;700&family=Poppins&family=Roboto:wght@700&display=swap');

:root {
  --dark-grey: #3c3a39;
  --silver: #acb7c3;
  --black: #1c1a19;
  --orange: #ff6b00;
  --whity: #fff5e1;
  --blue-like: #091e42;
  --grey: #8993a4;
  --grey-like: rgba(255, 255, 255, 0.24);
  --white-like: #f4f5f7;
  --orange-like: #a04300;
  --white: #fff;
  --blue: #172b4d;
  --gray: #979493;
  --gray-like: #505f79;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--white);
  text-decoration: none;
  list-style-type: none;
}

html {
  min-width: 375px;
}

body {
  width: 100%;
}

#tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 6.4%;
  background-color: var(--dark-grey);
  min-width: 100%;
  position: fixed;
  z-index: 2;
}

#nav-bar {
  display: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  min-width: 100%;
  z-index: 3;
}

#mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: var(--dark-grey);
  min-width: 100%;
}

.cancel {
  display: flex;
  height: 5vh;
  padding: 4px 24px 4px 311px;
  justify-content: flex-end;
  align-items: center;
}

#mobile-nav-bar {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  height: 85vh;
  margin-left: 6, 4%;
  margin-right: 6.4%;
}

.menu-footer {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 8px;
  height: 10vh;
}

.mobile-nav-link {
  display: flex;
  width: 327px;
  padding-top: 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
  border-radius: 8px;
}

.menu-divider {
  min-width: 327px;
  height: 1px;
  background: #6f6c6b;
}

.mobile-nav-link > a {
  display: flex;
  width: 295px;
  height: 40px;
  padding: 8px 68px 8px 0.1px;
  align-items: center;
  color: #fff5e1;
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 44px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  height: 40px;
}

.nav-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.2);
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.5);
}

#hero-section {
  background-color: var(--black);
  padding: 120px 6.4%;
  min-height: 616px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.background {
  background-image: url("default/SVG/Illustration.svg");
  background-repeat: no-repeat;
  background-position: right 238px;
}

.hello {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: var(--orange);
}

.iam {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--whity);
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-height: 123px;
  min-width: 327px;
  max-width: 566px;
}

.social {
  display: flex;
  align-items: center;
}

.link {
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.link:hover {
  transform: scale(1.5);
}

#work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 80px;
  width: 100%;
}

.work-section-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.work-section-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: var(--black);
}

.divider {
  height: 1px;
  min-width: 327px;
  border-bottom: 1px solid #212121;
}

#cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  transition: transform 0.3s ease-in-out;
}

.main-card:hover {
  transform: scale(1.08);
}

.card-img {
  width: 100%;
  height: 100%;
}

.right-block1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right-block1-heading {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: var(--blue-like);
  margin-bottom: 12px;
}

.right-block1-description {
  max-width: 327px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--blue-like);
  margin-bottom: 12px;
  display: flex;
  text-align: justify;
}

.lang1 {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 314px;
  height: 40px;
  margin-bottom: 12px;
}

.lang-list1 {
  color: var(--blue-like);
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid #8993a4;
}

button {
  width: 124px;
  height: 48px;
  background: var(--orange);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:active {
  color: #f4f1f0;
  background: #e05304;
}

button:hover {
  color: #f55800;
  background: var(--whity);
  border: 1px solid #f55800;
}

button:disabled {
  color: #5b5957;
  background: #f4f1f0;
}

.card {
  position: relative;
  width: 327px;
  height: 386px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.08);
}

.right-block2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 16px;
  gap: 12px;
  position: absolute;
  width: 333px;
  height: 260px;
  left: calc(50% - 333px / 2);
  bottom: 62px;
}

.right-block2-heading {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  background-color: rgb(204, 212, 226, 0.5);
}

.right-block2-description {
  width: 301px;
  height: 99px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.lang2 {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 247px;
  height: 40px;
}

.lang-list2 {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  background: rgba(216, 199, 199, 0.7);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: black;
}

.large-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 327px;
  height: 48px;
}

#about-me-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 6.4% 38px 6.4%;
  gap: 24px;
  width: 100%;
  background: var(--black);
  background-image: url("default/SVG/Frame.svg");
  background-repeat: no-repeat;
  background-position: right 384px;
}

.about-me-heading {
  min-width: 327px;
  max-width: 566px;
  height: 79px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: var(--orange);
}

.about-me-description {
  min-width: 327px;
  max-width: 566px;
  min-height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.larger {
  width: 156px;
}

.line {
  width: 100%;
  min-width: 327px;
  border: none;
  border-bottom: 1px solid #fff;
  margin-top: 185px;
  margin-bottom: 8px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 120px;
  padding-bottom: 38px;
  gap: 34px;
  background: var(--black);
  width: 100%;
}

.skill-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  gap: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 44px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  gap: 8px;
}

.skill-list {
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 43px;
  text-align: center;
}

#form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 130px 6.4%;
  width: 100%;
  gap: 58px;
}

.form-heading {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--blue);
  max-width: 455px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 330px;
}

input {
  width: 100%;
  min-width: 327px;
  height: 48px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  color: var(--gray);
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

input::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--gray);
}

textarea {
  width: 100%;
  min-width: 327px;
  min-height: 114px;
  padding: 12px;
  background: #fbf8f7;
  border: none;
  color: var(--dark-grey);
}

textarea::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--dark-grey);
}

.btn:active {
  background: #e05304;
  color: #f4f1f0;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  border-top: 1px solid #dfe1e6;
  padding-top: 15px;
  padding-bottom: 11px;
}

.social-footer {
  display: flex;
  align-items: center;
}

.bottom-line {
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s ease-in-out;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border: 1px solid #dfe1e6;
  background: #fff;
  z-index: 10;
  min-width: 90vw;
  min-height: 90vh;
}

.modal.active {
  transform: translate(-50%, -50%) scale(0.96, 0.9);
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  min-width: 100%;
}

.modal-heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
  min-width: 100%;
}

.modal-title {
  display: flex;
  flex-direction: column;
  max-height: 82px;
  color: #172b4b;
  font-size: 32px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 44px;
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 8px;
}

.languages {
  display: flex;
  align-items: center;
  gap: 8px;
}

.languages-item {
  display: flex;
  padding: 10px 12px;
  align-items: center;
  border: 1px solid #979493;
  font-size: 13px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 16px;
  color: var(--dark-grey);
}

.modal-img {
  width: 327px;
  height: 237px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.modal-text {
  display: flex;
  flex-direction: column;
  color: #344563;
  font-size: 16px;
  font-family: Inter, sans-serif;
  line-height: 24px;
  text-align: justify;
}

.action {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 24px;
}

.action-button {
  display: flex;
  padding: 12px;
  align-items: flex-start;
  gap: 12px;
  background: var(--orange);
  color: var(--white);
  text-align: center;
  font-size: 17px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.51px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 0.5s ease-in-out;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.errText {
  color: black;
  text-align: justify;
  border: 2px solid var(--orange);
  border-radius: 5px;
}

@media (min-width: 768px) {
  #nav-bar {
    display: block;
  }

  #mobile-menu {
    display: none;
  }

  .logo {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 20px;
  }

  .menu-icon {
    display: none;
  }

  #hero-section {
    padding-left: 143px;
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 36px;
  }

  #work-section {
    padding: 130px 24px;
  }

  .img-placeholder {
    min-width: 60%;
  }

  .work-section-heading {
    flex-direction: row;
    align-items: center;
  }

  .main-card {
    flex-direction: row;
    align-items: flex-start;
  }

  #cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .skill-heading {
    justify-content: flex-start;
  }

  .skill {
    align-items: self-start;
  }

  .bottom-line {
    display: none;
  }

  #form-section {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    gap: 24px;
  }

  .form-heading {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    max-width: 3;
  }

  form {
    align-items: flex-start;
  }

  label {
    width: 100%;
  }

  .modal {
    justify-content: space-between;
  }

  .right-block {
    min-width: 100%;
    display: flex;
    gap: 24px;
  }

  .modal-img {
    min-width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
  }

  .modal-text {
    font-size: 20px;
  }

  .modal-body {
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
    width: 40%;
  }

  .snapshot {
    float: left;
    width: 60%;
  }
}

@media (min-width: 1280px) {
  #hero-section {
    padding-left: 143px;
    padding-top: 0.1px;
    padding-bottom: 52px;
  }

  .headline {
    padding-top: 192px;
    padding-bottom: 192px;
  }

  .hello {
    font-size: 72px;
    line-height: 82px;
  }

  .iam {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  .description {
    max-width: 566px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
  }

  .background {
    background-image: url("default/SVG/Illustration-header.svg");
    background-position: right top;
  }

  .divider {
    width: 690px;
  }

  .skills {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .main-card {
    width: 1029px;
    height: 448px;
  }

  #about-me-section {
    padding: 120px 142px 38px 142px;
    background-image: url("default/SVG/Frame2.svg");
    background-position: right 100px;
  }

  .about-me-heading {
    height: 78px;
    line-height: 82px;
  }

  .about-me-description {
    height: 148px;
    font-size: 20px;
    line-height: 32px;
  }
}
